@import "./MetricBlock.css";
@import "./InputField.css";
@import "./MainPage.css";
@import "./ResultBox.css";

.app {
  height: 100vh;
}

.bg-image {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(../bg/clouds_bg.jpg);
  background-size: cover;
}

.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pages-style {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.margin-top {
  margin-top: 70px;
}

.text-center {
  text-align: center;
}